// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;

.bg-green {
  background-color: $green;
}

.bg-orange {
  background-color: $orange;
}

.bg-red {
  background-color: $red;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-blue {
  background-color: $blue;
}