$blue:    #3498db;
$purple:  #9b59b6;
$navy:    #34495e;
$green:   #2ecc71;
$red:     #e74c3c;
$orange:  #f39c12;

body {
  background: #E5E5E5;
	box-sizing: border-box;
	padding-bottom: 50px;
	min-width: 960px;
}

.bd-row {
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.course-list {
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
  top: 54px;
  left: 0;
  background-color: #007580;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}

.blue   { background: $blue }
.purple { background: $purple }
.navy   { background: $navy }
.green  { background: $green }
.red    { background: $red }
.orange { background: $orange }

table {
   font-family: 'Open Sans', Helvetica;
   color: black;
   table-layout: fixed;
   width: 100%;
   tr {
      
     &:nth-child(2n){
        background: blue; 
     }
     
     &:nth-child(2n){
        background: #f77807; 
     }
   }
   
   th, td {
      padding: 1em; 
      width: 10em;
   }
}

.months, .time {
  background: #007580;
  text-transform: uppercase;
  font-size: 0.6em;
  text-align: center;
}

.grab {cursor: -webkit-grab; cursor: grab;}