body {
    margin: 0;
}

.dashboard-card {
  margin: 70px auto 200px;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position: relative;
  z-index: 1
}

.btn-edit {
  width: 70px;
  height: 30px;
  float: right;
  font-size: 12px;
  font-weight: bold;
  padding-top: 6px;
  background: #EC525C;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cover-bg {
  width: 100%;
  height: 120px;
  background: #1D7756;
  background-size: 260%;
  border-radius: 5px 5px 0 0;
}

.user {
  &-info {
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    
    &-wrap {
      margin-top: -50px;
      display: flex;
      padding: 0 20px;
    }
  }
  
  &-name {
    font-weight: 500;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px
  }
  
  &-title {
    font-size: 16px;
    font-weight: 200;
    color: black;
    display: block;
    margin-top: 12px
  }
  
  &-photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #fff;
    background-size: cover;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  }
  
  &-bio {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
      
    p {
      font-size: 14px;
      font-weight: 300;
    }
  
  .bio-subject {
    font-weight: bold;
  }
  }
}