// Specific CSS for your home-page
.container {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  width: 400px;
  height: 360px;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  border: 1px solid;
  box-shadow: 0 0 5px;
  margin-right: 100px;
}

.home-header {
  color: #007580;
}

.form-group {
  color: #282846;  
}

.home-btn {
  border-color: #138496;
  color: #138496;
}

.home-btn:hover {
  background-color: #138496;
  color: white;
}

.home-card {
  color: #f6f5f5;
  background-color: #3b99a0;
}

.home-card:hover {
  background-color: white;
  color: black;
}