.top-zero {
  margin-top: 8px !important;
}

h1 {
  line-height: 0.8;
  font-size: 36px;
}

h3 {
  font-size: 16px;
  margin-top: 16px;
}

h5 {
  font-size: 14px;
  margin-top: 16px;
}

/* this is a CSS Grid of Matched Profile Cards */
.result-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 36px;
}

/* this is a flexbox */
.result-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #d5ebe1;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
  cursor: pointer;
}

.result-card:hover {
  background: #c4ecda;
  box-shadow: 2x 2px 2px rgba(76, 114, 108, 0.2);
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
}

.card-name {
  padding-left: 16px;
  text-align: left;
  line-height: 1.3;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card-name-mask {
  -webkit-mask-image: linear-gradient(to right, transparent 40%, black 100%);
  mask-image: linear-gradient(to right, transparent 40%, black 100%);
}

.result-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.img-mask {
  -webkit-mask-image: linear-gradient(to bottom, transparent 66%, black 100%);
  mask-image: linear-gradient(to bottom, transparent 66%, black 100%);
}

.result-card p {
  margin: 0;
}

.profileBtn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  cursor: -webkit-pointer; 
  cursor: pointer;
  font-size: 18px;
  // color: rgb(255, 83, 83);
  color: rgb(255, 83, 83);
}

.profileBtn:hover {
  // color: red;
  color: red;
}

.modal-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: white;
}

/* this is a CSS Grid  */
.modal-body {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  grid-gap: 0px;
  outline: none;
}

.modal-body-not-signed-in {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}


.cell {
  display: flex;
  gap: 0px;
  margin: 0;
  border: none;
  outline: none;
}

.cell div {
  gap: 0px;
  margin: 0;
  border: none;
  outline: none;
}

.large {
  margin: 0;
  width: 540px;
  border: none;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.large .large-p1 {
  margin-top: 64px;
  margin-bottom: 0;
  padding-left: 32px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 1.3;
}

.large .large-p2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 32px;
  padding-right: 16px;
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  color: #e47718;
  text-shadow: 1px #cab4a1;
}

.large .large-p3 {
  line-height: 1.2;
  font-weight: 200;
  font-size: 16px;
  padding-left: 32px;
  padding-right: 36px;
  margin-top: 6px;
  margin-bottom: 0;
  letter-spacing: -0.1px;
}

.large .large-p4 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 0;
  padding-left: 32px;
  padding-right: 36px;
  letter-spacing: -0.1px;
  line-height: 1;
  color: #e47718;
}

.large .large-p5 {
  line-height: 1.2;
  font-weight: 200;
  font-size: 16px;
  padding-left: 32px;
  padding-right: 36px;
  margin-top: 4px;
  margin-bottom: 0;
  letter-spacing: -0.1px;
}

.large .large-p6 {
  line-height: 1.2;
  font-weight: 200;
  font-size: 15px;
  margin-top: 4px;
  overflow : hidden;
  text-overflow: ellipsis;
  padding-left: 32px;
  padding-right: 36px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.small {
  margin: 0;
  padding: 8px;
  width: 240px;
  height: 100vh;
  font-weight: bold;
  position: sticky;
  top: 0;
  border: none;
  outline: none;
  background-color: #1d7756;
  background-image: linear-gradient(to bottom, #1d7756, #538b77 70%); 
  /*
  background-color: rgba(255, 230, 228, 0.9);
  background-image: linear-gradient(to bottom, rgba(255, 230, 228, 0.9), rgba(255, 255, 255, 1)) 
  */
}

.modal-body img {
  height: 120px;
  width: 120px;
  margin-top: 22px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 22px;
}

#mb2-name {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.1px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
  color: white;
  margin-bottom: 32px;
}

.mb2-small-hdr {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 0;
  letter-spacing: -0.1px;
  color: #b8b7b7;
}

.mb2-small-to {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -0.1px;
  color: #999193;
}

.mb2-small-dtl {
  font-family: 'Roboto', sans-serif;
  line-height: .9;
  font-weight: 200;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -0.1px;
  color: white;
}

.mb2-small-links {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  color: gray;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .result-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .result-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .result-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .result-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .result-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
