<span data-user="<%= @user.id %>">
  <% if current_user.is_following?(@user.id) %>
    <%= link_to "Unfollow", remove_connection_path(@user.id), method: :post, remote: true, class: 'btn btn-primary mr-2 mr-md-3 rounded-pill px-2 px-md-4' %>
  <% else %>
    <%= link_to "Follow", add_connection_path(@user.id), method: :post, remote: true, class: 'btn btn-primary mr-2 mr-md-3 rounded-pill px-2 px-md-4' %>
  <% end %>
</span>
