<h1>Connect Dots</h1>

<%= form_tag show_pages_path, method: :get do %>
  <form class="simple-form">
    <div class="form-group">
      <label for="exampleFormControlSelect1">I am from: </label>
      <select class="form-control" <%= search_field_tag :query_from, params[:query_from] %> id="industry_from">
        <option value="" disabled selected>Select your current industry</option>
        <option>Accounting</option>
        <option>Finance</option>
        <option>Health Care</option>
        <option>Banking</option>
        <option>Insurance</option>
        <option>Education</option>
        <option>Construction</option>
        <option>Manufacturing</option>
        <option>Business Services</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Switching to: </label>
      <select class="form-control" <%= search_field_tag :query_to, params[:query_to] %> id="industry_to">
        <option value="" disabled selected>Select ideal role</option>
        <option>Web Developer</option>
        <option>Product Manager</option>
        <option>Fullstack Engineering</option>
        <option>Frontend Developer</option>
        <option>Backend Developer</option>
        <option>Game Designer</option>
        <option>Data Analyst</option>
      </select>
    </div>

    <%= submit_tag "Search", class: "btn btn-primary" %>
  </form>     
<% end %>

<div class="container mt-5">
  <h2>How it works</h2>

  <div class="cards">
    <div class="card">
      <img src="https://arthur-littm.github.io/startup-landing/images/apply.svg" alt="apply-image" >
      <h3>Step 1: Select an Industry</h3>
      <p>Choose an indutry to switch to!</p>
    </div>

    <div class="card">
      <img src="https://arthur-littm.github.io/startup-landing/images/learn.svg" alt="learning">
      <h3>Step 2: Sign Up</h3>
      <p>Sign up as a member to view full content!</p>
    </div>

    <div class="card">
      <img src="https://arthur-littm.github.io/startup-landing/images/product.svg" alt="building">
      <h3>Step 3: Search</h3>
      <p>Start searching for users with similar switch!</p> 
    </div>
  </div>
</div>