.course-sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  margin-top: -60px;
  left: 0;
  background-color:#1d7756;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}

.navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 3px 5px 9px -4px #B6B6B6;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
